* {
    box-sizing: border-box;
}

@media screen and (max-width: 425px) {
    body {
        background-color: #ffcd7b;
        width: 100%;
        height: 100%;
        font-family: Segoe, Segoe UI, Optima, Arial, sans-serif;
    }

    /* Encabezado. */
    .header {
        background-color: #062a64;
        color: #ffefd5;
        /* Color de letra */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: 3px 3px 0 #00112d;
        padding: 5px;
    }

    .header__title {
        font-size: 30px;
        font-weight: bold;
    }

    .header__group-name {
        font-size: 20px;
    }

    .header__add-task-button {
        background-color: #365c99;
        width: 40px;
        height: 40px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        border-radius: 50%;
        box-shadow: 2px 0 #00112d;
    }

    /* Columnas y sus cartas. */
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 15px;
    }

    .main__column {
        background-color: #ffefd5;
        width: 100%;
        height: 800px;
        padding: 10px;
        border-radius: 5%;
        overflow-y: scroll;

    }

    .main__column--backlog {
        color: #365c99;
    }

    .main__column--to-do {
        color: #8a1a09;
    }

    .main__column--in-progress {
        color: #bea216;
    }

    .main__column--blocked {
        color: #94856d;
    }

    .main__column--done {
        color: #4B6306;
    }

    .main__column-title {
        font-size: 25px;
        font-weight: bold;
        padding: 10px;
        text-shadow: 1px 1px 0 #00112d;
    }

    /* Carta. */
    .main__card {
        background-color: #fbe5bf;
        box-shadow: 4px 4px 0 #ffcd7b;
        border-radius: 10%;
        padding: 15px;
        margin-bottom: 5px;
        font-size: 15px;
    }

    .main__card-title {
        font-size: 20px;
        font-weight: bold;
    }

    /* Modal */
    .task-modal {
        background-color: #062a64;
        color: #ffefd5;
        width: 100vw;
        height: 100vh;
        border: solid 15px #fea05d;
        display: none;
    }

    .task-modal__title {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        padding: 40px 0 20px 0;
        text-shadow: 3px 3px 0 #00112d;
    }

    .task-modal__form {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, 40%);
    }

    .task-modal__input-form {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        padding: 0 10px;
    }

    .task-modal__input-form input,
    .task-modal__input-form select {
        height: 50%;
        font-size: 15px;
    }

    .task-modal__button-form {
        color: #00112d;
        border-radius: 10%;
        font-weight: bold;
        margin: 5px;
    }

    .task-modal__button-form--cancel {
        background-color: #dfc339;
    }

    .task-modal__button-form--delete {
        background-color: #a22b19;
    }

    .task-modal__button-form--accept {
        background-color: #4fb315;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}