/* Reglas de estilo comunes a los tres tamaños.*/
* {
    box-sizing: border-box;
}

/* Mobile */
@media screen and (max-width: 425px) {
    body {
        background-color: #ffcd7b;
        width: 100%;
        height: 100%;
        font-family: Segoe, Segoe UI, Optima, Arial, sans-serif;
    }

    /* Encabezado. */
    .header {
        background-color: #062a64;
        color: #ffefd5;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: 3px 3px 0 #00112d;
        padding: 5px;
    }

    .header__title {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }

    .header__group-name {
        font-size: 20px;
    }

    .header__add-task-button {
        background-color: #365c99;
        width: 40px;
        height: 40px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        border-radius: 50%;
        box-shadow: 2px 0 #00112d;
    }

    .header__add-task-button--text {
        display: none;
    }

    /* Main. */
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 15px;
    }

    /* Columnas. */
    .task-column {
        background-color: #ffefd5;
        width: 100%;
        padding: 10px;
        border-radius: 5%;
    }

    .task-column__container {
        height: 800px;
        overflow-y: scroll;
    }

    .task-column--backlog {
        color: #365c99;
    }

    .task-column--to-do {
        color: #8a1a09;
    }

    .task-column--in-progress {
        color: #bea216;
    }

    .task-column--blocked {
        color: #94856d;
    }

    .task-column--done {
        color: #4B6306;
    }

    .task-column__title {
        font-size: 25px;
        font-weight: bold;
        padding: 10px;
        text-shadow: 1px 1px 0 #00112d;
    }

    /* Carta. */
    .task-card {
        background-color: #fbe5bf;
        box-shadow: 4px 4px 0 #ffcd7b;
        border-radius: 10%;
        padding: 15px;
        margin-bottom: 5px;
        font-size: 15px;
    }

    .task-card__title {
        font-size: 20px;
        font-weight: bold;
    }

    /* Modal. */
    .task-modal {
        display: block;
        background-color: #062a64;
        color: #ffefd5;
        width: 100vw;
        height: 100vh;
        border: solid 15px #fea05d;
    }

    .task-modal__title {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        padding: 40px 0 20px 0;
        text-shadow: 3px 3px 0 #00112d;
    }

    .task-form {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, 60%);
    }

    .task-form__input {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        padding: 0 10px;
    }

    .task-form__input input,
    .task-form__input select {
        height: 40%;
        font-size: 15px;
    }

    .task-form__button {
        color: #00112d;
        border-radius: 10%;
        font-weight: bold;
        margin: 5px;
    }

    .task-form__button--cancel {
        background-color: #dfc339;
    }

    .task-form__button--delete {
        background-color: #a22b19;
    }

    .task-form__button--accept {
        background-color: #4fb315;
    }
}

/* Tablet */
@media screen and (min-width: 426px) and (max-width: 768px) {
    body {
        background-color: #ffcd7b;
        width: 100%;
        height: 100%;
        font-family: Segoe, Segoe UI, Optima, Arial, sans-serif;
    }

    /* Encabezado. */
    .header {
        background-color: #062a64;
        color: #ffefd5;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-shadow: 3px 3px 0 #00112d;
        padding: 10px 30px;
    }

    .header__title {
        font-size: 40px;
        font-weight: bold;
    }

    .header__group-name {
        font-size: 30px;
    }

    .header__add-task-button {
        display: flex;
        align-items: center;
        background-color: #365c99;
        position: absolute;
        top: 70px;
        right: 10px;
        padding: 10px;
        box-shadow: 2px 0 #00112d;
        font-size: 20px;
    }

    .header__add-task-button--text {
        padding: 0 0 0 5px;
    }

    /* Main. */
    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 15px;
    }

    /* Columnas. */
    .task-column {
        background-color: #ffefd5;
        min-width: 33%;
        max-width: 50%;
        padding: 10px;
        border-radius: 5%;
        flex-grow: 1;
    }

    .task-column__container {
        height: 800px;
        overflow-y: scroll;
    }

    .task-column--backlog {
        color: #365c99;
    }

    .task-column--to-do {
        color: #8a1a09;
    }

    .task-column--in-progress {
        color: #bea216;
    }

    .task-column--blocked {
        color: #94856d;
    }

    .task-column--done {
        color: #4B6306;
    }

    .task-column__title {
        font-size: 30px;
        font-weight: bold;
        padding: 10px;
        text-shadow: 1px 1px 0 #00112d;
    }

    /* Carta. */
    .task-card {
        background-color: #fbe5bf;
        box-shadow: 4px 4px 0 #ffcd7b;
        border-radius: 10%;
        padding: 15px;
        margin-bottom: 5px;
        font-size: 20px;
    }

    .task-card__title {
        font-size: 20px;
        font-weight: bold;
    }

    /* Modal. */
    .task-modal {
        display: block;
        background-color: #062a64;
        color: #ffefd5;
        width: 100vw;
        height: 100vh;
        border: solid 15px #fea05d;
        font-size: 20px;
    }

    .task-modal__title {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        padding: 40px 0 20px 0;
        text-shadow: 3px 3px 0 #00112d;
    }

    .task-form {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, 70%);
    }

    .task-form__input {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        padding: 0 10px;
    }

    .task-form__input input,
    .task-form__input select {
        height: 40%;
        font-size: 30px;
    }

    .task-form__button {
        color: #00112d;
        border-radius: 10%;
        font-weight: bold;
        margin: 5px;
    }

    .task-form__button--cancel {
        background-color: #dfc339;
    }

    .task-form__button--delete {
        background-color: #a22b19;
    }

    .task-form__button--accept {
        background-color: #4fb315;
    }
}

/* Desktop */
@media screen and (min-width: 769px) {
    body {
        background-color: #ffcd7b;
        width: 100%;
        height: 100%;
        font-family: Segoe, Segoe UI, Optima, Arial, sans-serif;
        overflow-x: scroll;
    }

    /* Encabezado. */
    .header {
        background-color: #062a64;
        color: #ffefd5;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-shadow: 3px 3px 0 #00112d;
        padding: 10px 30px;
    }

    .header__title {
        font-size: 30px;
        font-weight: bold;
    }

    .header__group-name {
        font-size: 20px;
    }

    .header__add-task-button {
        display: flex;
        align-items: center;
        background-color: #365c99;
        position: absolute;
        top: 30px;
        right: 20px;
        padding: 10px;
        box-shadow: 2px 0 #00112d;
        font-size: 20px;
    }

    .header__add-task-button--text {
        padding: 0 0 0 5px;
    }

    /* Main. */
    .main {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding: 15px;
        width: 100%;
    }

    /* Columnas. */
    .task-column {
        background-color: #ffefd5;
        min-width: 33%;
        max-width: 33%;
        padding: 10px;
        border-radius: 5%;
        flex-grow: 1;
        height: 100%;
    }

    .task-column__container {
        overflow-y: scroll;
    }

    .task-column--backlog {
        color: #365c99;
    }

    .task-column--to-do {
        color: #8a1a09;
    }

    .task-column--in-progress {
        color: #bea216;
    }

    .task-column--blocked {
        color: #94856d;
    }

    .task-column--done {
        color: #4B6306;
    }

    .task-column__title {
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        text-shadow: 1px 1px 0 #00112d;
    }

    /* Carta. */
    .task-card {
        background-color: #fbe5bf;
        box-shadow: 4px 4px 0 #ffcd7b;
        border-radius: 10%;
        padding: 15px;
        margin-bottom: 5px;
        font-size: 20px;
    }

    .task-card__title {
        font-size: 20px;
        font-weight: bold;
    }

    /* Modal. */
    .task-modal {
        display: block;
        background-color: #062a64;
        color: #ffefd5;
        width: 100vw;
        height: 100vh;
        border: solid 15px #fea05d;
        font-size: 20px;
    }

    .task-modal__title {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        padding: 40px 0 20px 0;
        text-shadow: 3px 3px 0 #00112d;
    }

    .task-form {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, 70%);
    }

    .task-form__input {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        padding: 0 10px;
    }

    .task-form__input input,
    .task-form__input select {
        height: 40%;
        font-size: 30px;
    }

    .task-form__button {
        color: #00112d;
        border-radius: 10%;
        font-weight: bold;
        margin: 5px;
    }

    .task-form__button--cancel {
        background-color: #dfc339;
    }

    .task-form__button--delete {
        background-color: #a22b19;
    }

    .task-form__button--accept {
        background-color: #4fb315;
    }
}

.hidden {
    display: none;
}